body {
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.container h2 {
    letter-spacing: 2px;
}

a {
    color: white;
}

header {
    background-color: #06A77D;
}

navbar-dark {
    background-color: olivedrab;
}

.angled-guitar-logo {
    margin-left: 2%;
    margin-top: -2.5%;
    float: left;
}

.center-heading {
    background-color: black;
}

.page-heading {
    text-align: center;
    color: black;
}

 #fretboard-knowledge {
    border: 1px solid black;
    background-color: #D7B49E;
    color: black;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
}

#fretboard-knowledge h2 {
    background-color: black;
    color: white;
}

#fretboard-knowledge h3 {
    margin-top: 3%;

}

#fretboard-knowledge img {

    margin-bottom: 3%;
    padding: 0 10px;
    max-width: 100%;

}

#main-content {
    text-align: center;
    width: 69%;
    background-color: #D7B49E;
    color: black;
    border: 1px solid black;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1% 30px;
}

#main-content img {
    margin-bottom: 3%;
    max-width: 100%;
}


figcaption {
    text-align: center;
}

main {
    flex: 1;
    background-color: #DC602E;
}


footer {
    clear: both;
    background-color: #06A77D; 
    color: #ffffff;
    padding: 20px 0;
}

@media screen and (max-width: 768px) {
    #main-content {
        text-align: center;
        width: 89%;
        background-color: #D7B49E;
        color: black;
        border: 1px solid black;
        margin-left: 2%;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 1% 30px;
    }
}
